<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- CAMERA -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- ANDROID 13+ MEDIA -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <!-- PRE ANDROID 13 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <!-- CAMERA HARDWARE -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- REQUIRED FOR FLUTTER TEXT PROCESSING -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <application
        android:label="mad_ui"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- FLUTTER EMBEDDING -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- MAPBOX TOKEN -->
        <meta-data
            android:name="com.mapbox.token"
            android:value="pk.eyJ1IjoiZmx1dHRlci1sb2ciLCJhIjoiY21peXNucHF4MGp2aDNoczY0b2hvcjRhMCJ9.fZ-6OD0ZqO4twwvBLOdSgA" />

    </application>

</manifest>
